:root {
    --app-color-papaya: #fdf0d5;
    --app-color-blue: #003049;
    --app-color-red: #780000;
    --app-font-size-nav: 13px;
    --app-font-size-body: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--app-color-papaya);
    color: var(--app-color-blue);
    padding: 15px 40px;
    font-family: 'IBM Plex Serif', serif;
    font-size: var(--app-font-size-body);
    line-height: 150%;
    min-height: 100vh; /* Fallback for dvh */
    min-height: 100dvh;
    max-width: 1024px;
    margin: auto;
}

h1 {
    font-size: inherit;
    font-weight: normal;
    border-bottom: 2px solid var(--app-color-blue);
    padding-bottom: 25px;
    margin-bottom: 25px;
    text-align: left;
}

h2,
h3,
h4,
h5,
h6 {
    margin-top: 20px;
    margin-bottom: 5px;
}

h2 {
    font-size: calc(var(--app-font-size-body) + 12px);
}

h3 {
    font-size: calc(var(--app-font-size-body) + 9px);
}

h4 {
    font-size: calc(var(--app-font-size-body) + 6px);
}

h5 {
    font-size: calc(var(--app-font-size-body) + 3px);
}

h6 {
    font-size: var(--app-font-size-body);
}

nav,
footer {
    display: flex;
    justify-content: center;
    font-size: var(--app-font-size-nav);
}

nav ul,
footer ul {
    display: flex;
    justify-content: space-between;
}

nav li,
footer li {
    margin-right: 15px;
    list-style-type: none;
}

nav a,
footer a {
    color: var(--app-color-blue);
    text-decoration: none;
}

nav a:hover,
footer a:hover {
    text-decoration: underline;
}

nav li:last-child,
footer li:last-child {
    margin-right: 0;
}

li {
    list-style-type: circle;
}

a {
    color: var(--app-color-red);
}

a:hover {
    opacity: 1;
    color: var(--app-color-blue);
}

main {
    text-align: left;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-grow: 1;
}

code {
    font-family: 'IBM Plex Mono', monospace;
    font-size: calc(var(--app-font-size-body) - 2px);
}

.highlight {
    margin: 25px 0;
}

.highlight pre {
    padding: 15px;
}

p {
    margin: 15px 0;
}

.home p {
    max-width: 600px;
}

img {
    max-width: 100%;
    max-height: 650px;
    margin: 45px auto;
    display: block;
}

@media (min-width: 640px) {
    :root {
        --app-font-size-body: 17px;
        --app-font-size-nav: 14px;
    }
}

@media (min-width: 768px) {
    :root {
        --app-font-size-body: 18px;
        --app-font-size-nav: 15px;
    }
}

@media (min-width: 1024px) {
    :root {
        --app-font-size-body: 19px;
        --app-font-size-nav: 16px;
    }
}
