:root {
    --app-color-papaya: #fdf0d5;
    --app-color-blue: #003049;
    --app-color-red: #780000;
    --app-screen-sm: 640px;
    --app-screen-md: 768px;
    --app-screen-lg: 1024px;
    --app-screen-xl: 1280px;
    --app-screen-2xl: 1536px;
    --app-font-size-nav: 14px;
    --app-font-size-body: 16px;
}

/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--app-color-papaya);
    color: var(--app-color-blue);
    padding: 15px 40px;
    font-family: 'IBM Plex Serif', serif;
    font-size: var(--app-font-size-body);
    line-height: 150%;
    min-height: 100vh; /* Fallback for dvh */
    min-height: 100dvh;
}

h1 {
    font-size: var(--app-font-size-body);
    font-weight: normal;
    border-bottom: 2px solid var(--app-color-blue);
    padding-bottom: 25px;
    margin-bottom: 25px;
    text-align: left;
}

h2,
h3,
h4,
h5,
h6 {
    margin-top: 20px;
    margin-bottom: 5px;
}

h2 {
    font-size: calc(var(--app-font-size-body) + 12px);
}

h3 {
    font-size: calc(var(--app-font-size-body) + 9px);
}

h4 {
    font-size: calc(var(--app-font-size-body) + 6px);
}

h5 {
    font-size: calc(var(--app-font-size-body) + 3px);
}

h6 {
    font-size: var(--app-font-size-body);
}

nav,
footer {
    display: flex;
    justify-content: center;
    font-size: var(--app-font-size-nav);

    ul {
        display: flex;
        justify-content: space-between;

        li {
            margin-right: 15px;
            list-style-type: none;

            a {
                color: var(--app-color-blue);
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        li:last-child {
            margin-right: 0;
        }
    }
}

li {
    list-style-type: circle;
}

a {
    color: var(--app-color-red);
}

a:hover {
    opacity: 1;
    color: var(--app-color-blue);
}

main {
    text-align: left;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-grow: 1;
}

code {
    font-family: 'IBM Plex Mono', monospace;
    font-size: calc(var(--app-font-size-body) - 2px);
}

p {
    margin: 15px 0;
}
